---
title: Tag Yeti
subtitle: some subtitle

google_analytics_id: UA-32373633-4

sections:
- 
  role: title
  title: Tag Yeti
  subtitle: Placeholder subtitle.
  img: tagyeti/main_image-02.png  # TODO no text in the image
-
  role: hooker
  title: Browse. Click. Tag. 
  subtitle: So You Can Get Back To The Important Stuff. 
-
  role: text
  subtitle: |
    Fed up with bookmarks? Tag Yeti is an extension that helps you visualize the Evernote tags you use the most. Just tag a website with a sticker, and Tag Yeti will keep it for you. So you can get back to the important stuff. 
-
  role: action
  embed: >
    <a href="http://bit.ly/TagYeti">
      <img src="/images/ChromeWebStore206x58.png" alt="Available in the Chrome web store."/>
    </a>
-
  role: graphical-intro
  sections:
  - role: intro-scene
    subtitle: Create stickers for different topics.
    img: tagyeti/intro-01.png
  - role: intro-scene
    subtitle: Organize web pages with stickers as you browse.
    img: tagyeti/intro-02.png
  - role: intro-scene
    subtitle: Your stickers sync with your Evernote account, so you can always find what you need.
    img: tagyeti/intro-03.png
-
  role: major-feature
  subtitle: |
    Features:
  sections:
  - role: list-item
    subtitle: Create, edit, and delete stickers at any time. 
  - role: list-item
    subtitle: Organize your stickers with 8 color options
  - role: list-item
    subtitle: Automatically syncs with your Evernote account.
-
  role: support
  title: Support
  href: http://http://support.bigbearlabs.com/knowledgebase/topics/37728-tag-yeti
  subtitle: Need help? Want to leave feedback? Head on over to our support section. 

  role: ideas
  sections:
  - role: summary-text    
    subtitle: |
     Here are some ideas on how you can use Tag Yeti in your life:
  - role: list-item
    subtitle: Staying on top of professional work.
  - role: list-item
    subtitle: Handaling your personal life. 
  - role: list-item
    subtitle: Managing Projects.
  - role: draft-content
    subtitle_later: '<br> Staying sane while applying to colleges. <br> Curating your favorite recipes. <br> Remembering your favorite hot spots and hangouts. <br> Tracking gift giving ideas year round. <br> Planning your wedding. <br> Buying a car.'
-
  role: screenshots
  sections:
  - role: Screenshot-one
    img: tagyeti/weddingsmall.png
  - role: Screenshot-two
    img: tagyeti/parentingsmall.png
  - role: Screenshot-three
    img: tagyeti/evernotesmall.png
-
  role: marketing-video
  embed: >
    <object width="420" height="315"><param name="movie" value="//www.youtube.com/v/F_kwCBDXluo?hl=en_US&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/F_kwCBDXluo?hl=en_US&amp;version=3" type="application/x-shockwave-flash" width="420" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object>

# TODO other features
---

= partial "content-basic"


:css
  section.title h1 {
    display: none;
  }


-# TODO blurbs



