---
title: Tag Yeti
subtitle: some subtitle

google_analytics_id: UA-32373633-4

sections:
- 
  role: title
  title: Tag Yeti
  subtitle: Placeholder subtitle.
  img: tagyeti/main_image-02.png  # TODO no text in the image
-
  role: hooker
  title: Browse. Click. Tag. 
  subtitle: So You Can Get Back To The Important Stuff. 
-
  role: text
  subtitle: Fed up with bookmarks? Tag Yeti is an extension that helps you visualize the Evernote tags you use the most. Just tag a website with a sticker, and Tag Yeti will keep it for you. So you can get back the the important stuff. 
-
  role: action
  embed: >
    <a href="http://bit.ly/TagYeti">
      <img src="/images/ChromeWebStore206x58.png" alt="Available in the Chrome web store."/>
    </a>
-
  role: graphical-intro
  sections:
  - role: intro-scene
    subtitle: Create stickers for different topics.
    img: tagyeti/intro-01.png
  - role: intro-scene
    subtitle: Organize web pages with stickers as you browse.
    img: tagyeti/intro-02.png
  - role: intro-scene
    subtitle: Your stickers sync with your Evernote account, so you can always find what you need.
    img: tagyeti/intro-03.png
-
  role: major-feature
  subtitle: |
    Features: Create, edit, and delete stickers at any time. 
    Organize your stickers with 8 color options Automatically syncs with your Evernote account.
-
  role: ideas
  subtitle: |
    Some ideas for Tag Yeti:
      Organizing professional work.
      Booking your next vacation.
      Managing Projects.
  subtitle_later: '<br> Staying sane while applying to colleges. <br> Curating your favorite recipes. <br> Remembering your favorite hot spots and hangouts. <br> Tracking gift giving ideas year round. <br> Planning your wedding. <br> Buying a car.'
-
  role: screenshots
  sections:
  - role: Screenshot-one
    img: tagyeti/WeddingSS.png
  - role: Screenshot-two
    img: tagyeti/ParentingSS.png
  - role: Screenshot-three
    img: tagyeti/EvernoteSS.png
-
  role: marketing-video
  embed: >
    <object width="420" height="315"><param name="movie" value="//www.youtube.com/v/F_kwCBDXluo?hl=en_US&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/F_kwCBDXluo?hl=en_US&amp;version=3" type="application/x-shockwave-flash" width="420" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object>

# TODO other features
---

= partial "content-basic"


-# TODO blurbs



