:erb
  <div class="menu-item">        
    <a href="http://tagyeti.com/about" target="_window"
      data-bbl-assetify>About</a>
  </div>
  <div class="menu-item preview">
    <a href="centre.html" target="_blank">Centre</a>
  </div>

  <div class="menu-item horizontal-spacer"></div>

  <div class="menu-item preview">
    <a href="#/whatsnew">What's new</a>
  </div>
  <div class="menu-item">
    <a href="#/intro">Intro</a>
  </div>
  <div class="menu-item">
    <a ng-href="{{$root.authentication.nextAction.url}}">{{$root.authentication.nextAction.message}}</a>
  </div>
