---
title: TagYeti Options
---

%script( src="js/options.js" )
%script( src="js/assetify.js" )
%script( src="js/stubDataSvc.js" )
%script( src="js/evernoteSvc.js" )  # FIXME bad dep
%script( src="js/globalsSvc.js" )

%body.options( data-ng-app="appModule" )
  %h1 TagYeti options

  .controller-content( ng-cloak ng-view )
  
  %p(style="text-align:center;") Is there an option you'd like to set here? Let us know!
  %p(style="text-align:center;")
    %a( href="http://support.bigbearlabs.com/forums/191718-general/category/68202-tagyeti") TagYeti Support Forum
