<!-- TODO need to make an abstract app layout template. -->

<!-- all top-level actions -->
<div ng-include="'partials/menu.html'" class="row top-menu"></div>
  <!-- ng-show="shouldShowMenu" -->

<!-- this only needed when page context needs explicit creation from user. -->
<div class="row"
  data-ng-show="showPageDetails()">

  <h6>Page</h6>

  <input type="text" placeholder=""
    data-ng-model="page.url" data-ng-change="fetchPage()">
</div>



<div class="row stickers-container">

  <h6>Stickers</h6>

  <ul id="sticker-list" class="sticker-group" 
    data-ui-sortable="sortableOptions" data-ng-model="stickers">

    <!-- my stickers -->
    <li class="sticker on-page-{{page.hasSticker(sticker)}}"
      data-ng-repeat="sticker in stickers"
      data-ng-mouseover="highlight(sticker)"
      data-ng-mouseleave="highlight(null)"
      >
      <a class="sticker-image"
        data-ng-click="toggleSticker(sticker)">
        <img data-ng-src="{{sticker.imgOn()}}" alt="Page stickered with {{sticker.name}}."
          data-ng-if="page.hasSticker(sticker)" data-ng-animate="'transition-image'">
        <img data-ng-src="{{sticker.imgOff()}}" alt="Page not stickered with {{sticker.name}}."
          data-ng-if="! page.hasSticker(sticker)" data-ng-animate="'transition-image'">
          <!-- TODO transition with zoom in/out -->
      </a>

      <div class="sticker-label-section">
        <a class="sticker-label"
          data-ng-click="toggleSticker(sticker)">
          {{sticker.name}}
        </a>

        <div class="sticker-edit-control">
          <!-- disable url-based edit invocation due to it triggering an angular rerouting, resulting in a refresh of ui state.  
          Will the refactoring to background.html solve this? -->
          <!-- <a class="fit-parent" ng-href="#/stickers/{{encodedName(sticker.name)}}"/> -->
          <a class="fit-parent" ng-click="editSticker(sticker)"/>
        </div>
      </div>
    </li>

    <!-- new sticker -->
    <li class="sticker">
      <a class="sticker-image sticker-image-new absolute-positioning-container"
        data-ng-click="startCreateSticker()">

        <img src="assets/new-sticker.png" alt="New sticker...">
      </a>
    </li>
  </ul>

  <div class="edit-sticker overlay"
    data-ng-if="editedSticker" data-ng-animate="'transition-overlay'">

    <div class="overlay-content">

      <img class="edit-sticker-img"
        data-ng-src="{{editedSticker.imgOn()}}" alt="{{editedSticker.name}}">

      <ul class="edit-sticker-colours">
        <li class="colour-item colour-selected-{{editedSticker.isColour(colour)}}"
          style="background: {{colour.code}};"
          data-ng-repeat="colour in colours"
          data-ng-click="editedSticker.setColour(colour)">
        </li>
      </ul>

      <input class="edit-sticker-name"
        data-ng-model="editedSticker.name"/>

      <div class="control-container">
        <button class="control" data-bbl-assetify
          data-ng-click="deleteSticker()">Delete</button>
        <div class="horizontal-spacer"></div>
        <button class="control" data-bbl-assetify
          data-ng-click="cancelEditingSticker()">Cancel</button>
        <button class="control" data-bbl-assetify
          data-ng-click="finishEditingSticker()">OK</button>
      </div>
    </div>
  </div>

</div>

