/** popup */

body {

  background-image: url("../assets/background-image.png");  
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, h3, h4 {
  color: #1f3b69;
  font-family: Bell Gothic std, helvetica, sans-serif;
/*  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.4em;*/
}

p, a {
  color: black;
}

a:hover {
  color: white;
  // font-weight: bold;

  background-color: rgba(128, 128, 128, 0.45);
  border-radius: 5px 5px 5px 5px;
  transition: all 0.2s;
}

/** general / dev */

h6 {
  display: none;
}

.preview {
  display: none;
}

.preview.shown {
  display: relative
  border-style: solid;
  
  p, a {
    color: white;
  }  
}

/* debugging sticker layout */
/*
.sticker>* { 
  border-style: solid;
  border-width: 1px;
}
*/


/** compositional elements */

.popup {
  width: 380px;
  height: 480px;
}

.top-menu {
  display: -webkit-box;
  -webkit-box-pack: justify;
}

.top-menu .menu-item {
  /*width: 15%;*/
  /*margin: 0 auto;*/
  -webkit-box-flex: 1;
}
.top-menu .horizontal-spacer {
  -webkit-box-flex: 30;
}

.top-menu .about {
}

.controller-content {
  min-width: 95%;
  margin: 10px;
}

.msg-container {
  position: fixed;
  bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}


/* overlay element fits viewport. */
.overlay {
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  top: 0;
  left: 0;

  /* gray-out effect.*/
  background: rgba(100,100,100,0.7);
}

/* overlay container shows is centred in viewport.*/
.overlay-content {
  position: fixed;
  width: 90%;
  max-width: 90%;
  height: 90%;
  max-height: 90%;
  top: 5%;
  left: 5%;

  text-align: center;

/*  background-color: rgba(230,230,230,1);
*/  /*opacity: 1;*/
}

.dialog-content {
  background: white;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
}

.dialog-content > * {
  -webkit-box-flex: 10;
}

.dialog-content .control-container {
  -webkit-box-flex: 1;
}

.content-container {
  text-align: center;
}

.control-container {
  display: -webkit-box;
  -webkit-box-pack: justify;
}

.control {
  cursor: hand; cursor: pointer; 
  display: inline-block;
  font-size: 0;

  width: 70px;
  height: 30px;

  margin: 10px auto;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  /* override webkit default styles */
  background-color: rgba(0, 0, 0, 0);
  border-style: none;

}

.ok {
  width: 80px;
}
.cancel {
}


/** intro */

.intro > p {
  height: 3em;
}

.intro.control-container {
  position: relative;
  bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}

/** ui states */
.selected {
  border-style: solid;
  border-color: white;
}

/** stickers */

.sticker-label, .text-label {
  font:13px arial, Helvetica, sans-serif;
  line-height: 1em;
}

.stickers-container {
  /*text-align: center;*/
}

.sticker-group {
  font-size: 0; /* make inline-block items space-agnostic */
}

.sticker {
  /*border-style: solid;*/

  display: inline-block;
  
  vertical-align: middle;

  width: 90px;
  height: 110px;

  /*text-align: center;*/
  font-size: 0;  /* for inline-blocks */
}

/* highlighting on hover*/
.sticker-image:hover, .sticker-label:hover  {
  background-color: rgba(128, 128, 128, 0.45);
  border-radius: 5px 5px 5px 5px;
  transition: all 0.2s;
}

.sticker-image {
  display: block;

  width: 70px;
  margin: 10px;
}

.sticker-label-section {
  font-size: 0;
}

.sticker-label {
  /*label on top of sticker*/
/*  position: absolute;
  top: 0;
  left: 0;
*/
  display: inline-block;

  width: 70px;
  margin-left: 10px; 	
  text-align: center;
  text-overflow: ellipsis;
}

.sticker-image-new {
  display: table;
  opacity: 0.5;
}


/* sticker edit control */

.sticker-edit-control {
  float: right;
  height: 10px;
  width: 10px;
}

.sticker:hover .sticker-edit-control {
  background-image: url("../assets/edit.png");
  background-size: contain;
}


/* edit sticker */

.edit-sticker-img {
  display: block;
  margin: 0 auto;

  /* TODO size */
}
.edit-sticker-name {
  display: block;
  margin: 20px auto;

  /* TODO size, font style */
  font-size: 14pt;
}
.edit-sticker .control-container {
  margin: 20px auto;
}
.edit-sticker-colours {
  font-size: 0;
}
.colour-item {
  display: inline-block;

  margin: 5px;
  width: 30px;
  height: 30px;
  /* TODO exact dimensions */
}
.colour-selected-true {
  border-style: solid;
  border-color: white;
}


/* animations */

.transition-image, .transition-image-enter {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -ms-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.transition-image-enter {
  opacity: 0;
  /*transition: all 2s ease-in-out;*/
}
.transition-image-enter.transition-image-enter-active {
  opacity: 1;
  /*transition: all 2s ease-in-out;*/
}

.transition-image-leave {
  opacity: 1;
}
.transition-image-leave.transition-image-leave-active {
  opacity: 0;
}

.transition-overlay, .transition-overlay-enter, .transition-overlay-leave {
  -webkit-transition:all linear 0.3s;
  -moz-transition:all linear 0.3s;
  -ms-transition:all linear 0.3s;
  -o-transition:all linear 0.3s;
  transition:all linear 0.3s;
}

.transition-overlay-enter {
  opacity: 0;
  /*transition: all 2s ease-in-out;*/
}
.transition-overlay-enter.transition-overlay-enter-active {
  opacity: 1;
  /*transition: all 2s ease-in-out;*/
}

.transition-overlay-leave {
  opacity: 1;
}
.transition-overlay-leave.transition-overlay-leave-active {
  opacity: 0;
}


/* TODO 

refactor to less or sass.

*/
