// Foundation
@import "../foundation-scss-standalone/scss/foundation";

// foundation has a strange layout break-point that ends up with too much h margin when roughly 820 < x < 950 . work around.
@media screen and (max-width: #{950px}) {
	.main {
		max-width: 800px;
	}
}

body {

	// ## typography

	// font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	// font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Tahoma', 'sans-serif';

	// # the font from webbuddyapp.com
	// font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	// font-size: medium;

	// # the font from squarespace.
	// font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Tahoma', 'sans-serif';

  // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  // font-size: 15px;
  // font-style: normal;
  // font-variant: normal;
  // font-weight: 250;

	font-family: 'Open Sans', sans-serif;
	// h1, h2, h3 {
	// 	font-weight: 400;
	// }
	p, div {
		font-weight: 300;
	}

	h1, h2, h3 {
		font-family: Tahoma, 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: bold;
	}
	h2 {
		font-size: 130%;
	}


	// ## colour

	// bright
	background-color: #f8f8f8;
	color: #666;
	h1, h2, h3 { 	color: #000; }

	// dark
	// background-color: #42413C;
	// color: #eee;
	// h1, h2, h3 { 	color: #aaa; }


	text-align: center;

	p {
		text-align: left;
		// max-width: 95%;
	}

	// desktop-aspect
	@media screen and (min-width: #{400px}) {
		margin: 20px;
		padding: 20px;

		p {
			text-align: justify;
		}
	}
}

header {
	text-align: left;

	img {
		width: 50px;
		height: 50px;
	}
	li {
		list-style: none;
	}
	p {
		display: none;  /* HACK hiding the text. */
	}
}

footer p {
	text-align: right;

	font-size: 0.67em;
	font-weight: bold;
}


section {
	@include clearfix;
	
	margin: 40px auto;

	max-width: 700px;
}

section.news {
	background-color: yellow;

	.subtitle {
		text-align: justify;
	}
}
section.title {
	h2 {
		/* current image has embedded text */
		display:none ;
	}
	.subtitle p {
		text-align: center;
	}
}

section.actions {
 .download .title {
		display: none;
	}
}


// section presentation template incubated from WebBuddy

section.feature-major, section.benefit {

	text-align: center;

	img {
		@include grid-column(1, $pull:8);

		vertical-align: middle;

		margin-left: auto;
		margin-right: 0;
	}

	// mobile-aspect
	@media screen and (max-width: #{500px}) {
		img {
			// @include grid-row();
			// @include grid-column(12);
			// TODO constrain image size. workaround:
			display: none;
		}

		.title {
			@include grid-row();
			@include grid-column(12, $center:true);
		}
		.subtitle {
			@include grid-row();
			@include grid-column(12, $center:true);
		}
	}

	// gridded for desktop-aspect
	@media screen and (min-width: #{500px}) {
		.title {
			@include grid-column(9, $push:2);
			text-align: left;
		}
		.subtitle {
			@include grid-column(9, $push:2);
		}
	}
	
}
