// Foundation
@import "../foundation-scss-standalone/scss/foundation";

body {
	margin: 20px;
	padding: 20px;

	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #eee;/*#42413C;*/

	color: #777;
	font-size: medium;
}


header {
	img {
		width: 50px;
		height: 50px;
	}
	li {
		list-style: none;
	}
	p {
		display: none;  /* HACK hiding the text. */
	}
}

footer p {
	text-align: right;

	font-size: 0.67em;
	font-weight: bold;
}


section {
	@include clearfix;
	
	margin: 66px auto;

	text-align: center;
}

section.title {
	h2 {
		/* current image has embedded text */
		display:none ;
	}
	.subtitle {
		display:none ;
	}
}

section.actions {
 .title {
		display: none;
	}
}

section.graphical-intro {
	// @include grid-row;  // had to disable this to get the margins to work.
	@include clearfix;

	> section {
		@include grid-column(4);

		margin: 0;

		position: relative;
	}
}

section.marketing-video {
	text-align: center;
	font-size: 0;

	object {
		display: inline-block;

		width:420px; height:315px;
	}
}
