// Foundation
@import "../foundation-scss-standalone/scss/foundation";

// foundation has a strange layout break-point that ends up with too much h margin when roughly 820 < x < 950 . work around.
@media screen and (max-width: #{950px}) {
	.main {
		max-width: 800px;
	}
}


.draft {
	display: none;
}

body {
	text-align: left;

	// ## layout
	h1, h2 {
		margin-top: 50px;
		text-align: center;
	}
	h3, h4 {
		margin-top: 30px;
	}

	h3, h4, p {
		max-width: 40em;
	}

	h3, h4 {
		
	}
	p {
		margin: auto;
		margin-top: 20px;
		line-height: 1.8;
	}

	
	// ## basic defaults
	li {
		list-style: none;
	}


	// desktop-aspect
	@media screen and (min-width: #{400px}) {
		margin: 20px;
		padding: 20px;

		p {
			text-align: left;
		}
	}


	// ## typography

	// font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	// font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Tahoma', 'sans-serif';

	// # the font from webbuddyapp.com
	// font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	// font-size: medium;

	// # the font from squarespace.
	// font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Tahoma', 'sans-serif';

  // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  // font-size: 15px;
  // font-style: normal;
  // font-variant: normal;
  // font-weight: 250;

	font-family: 'Open Sans', sans-serif;
	// h1, h2, h3 {
	// 	font-weight: 400;
	// }
	p, div {
		font-weight: 300;
	}

	h1, h2, h3 {
		font-family: Tahoma, 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: bold;
	}
	h2 {
		font-size: 130%;
	}


	// ## colours

	// bright
	background-color: #f8f8f8;
	color: #666;
	h1, h2, h3 { 	color: #000; }

	// dark
	// background-color: #42413C;
	// color: #eee;
	// h1, h2, h3 { 	color: #aaa; }

}


header {
	text-align: left;

	img {
		width: 50px;
		height: 50px;
	}
	p {
		display: none;  /* HACK hiding the text. */
	}
}

footer {
	p {
		text-align: center;
		
		font-size: 0.67em;
		font-weight: bold;		
	}
}


section {
	@include clearfix;
	
	margin: 40px auto;

	max-width: 700px;
}

.news {
	background-color: #ffff99;

	margin: 20px auto;

	.subtitle {
		text-align: justify;
	}

}
section.title {
	.subtitle p {
		text-align: center;
	}
}

section.actions {
 .download .title {
		display: none;
	}
}


.contact {
	max-width: 600px;
	@include grid-row;
	@include grid-column(8, $center:true);
}
// section presentation template incubated from WebBuddy

.feature-major, section.benefit {

	text-align: center;

	img {
		@include grid-column(1, $pull:8);

		vertical-align: middle;

		margin-left: auto;
		margin-right: 0;
	}

	// mobile-aspect
	@media screen and (max-width: #{500px}) {
		img {
			// @include grid-row();
			// @include grid-column(12);
			// TODO constrain image size. workaround:
			display: none;
		}

		.title {
			@include grid-row();
			@include grid-column(12, $center:true);
		}
		.subtitle {
			@include grid-row();
			@include grid-column(12, $center:true);
		}
	}

	// gridded for desktop-aspect
	@media screen and (min-width: #{500px}) {
		.title {
			@include grid-column(9, $push:2);
			text-align: left;
		}
		.subtitle {
			@include grid-column(9, $push:2);
		}
	}
	
}
