@import "../foundation-scss-standalone/scss/foundation";
@import "bbl-basic";

body {
	background-color: white;
}

header {
	display: none;
}

section {
	// @include grid-row();
}

section.title {
	display: block;

	@include grid-row();

	.title {
		display: inline;

		width: 66%;
		float: left;

		// hack valign with margin
		margin-top: 5%;
	}
	.subtitle {
		display: inline;

		width: 66%;
		float: left;
	}

	img {
		width: 33%;
	}
}

section.product {
	@include grid-column(4);

	margin: 50px auto;
	
	.title {
		margin-top: 5%;
	}
	.subtitle {
	}

	img {
		display: block;
		width: 60%;
		margin: 0 auto;
	}
}