@import "bbl-basic.css.scss";

body {
	// can't change this until we fix the title banner img.
	background-color: white;
}

header {
	display: none;
}

section {
	// @include grid-row();

	.title {
		margin-top: 30px;
	}

	.subtitle p {
		text-align: center;
	}

}

section.title {
	display: block;

	@include grid-row();

	text-align: center;

	.title {
		display: none;
	}
	.subtitle {
		display: none;
	}
}

section.product {
	@include grid-column(6);

	// single-column when < 550
	@media screen and (max-width: #{550px}) {
		@include grid-row;
		@include grid-column(12);
	}
	
	.title {
		// font-size: 200%;
	}

	img {
		display: block;
		width: 60%;
		margin: 0 auto;
	}
}

section.projects {
	@media screen and (max-width: #{550px}) {
		@include grid-row;
	}
}