@import "bbl-basic.css.scss";

header {
	display: none;
}

section {
	word-break: keep-all;

	text-align: center;

	.title {
		margin-top: 30px;
	}

	.subtitle p {
		text-align: center;
	}

	ul {
		text-align: left;

		li {
			list-style: disc;
			list-style-position: inside;
		}
	}
}
