@import "bbl-basic.css.scss";
// @import "../foundation-scss-standalone/scss/foundation";

body {
  background-color: black; 
  color: #ddd;

  h2, h3 {  color: white; font-size: 20px; }
}

section.title {

  h1 {
    // display: none;   // for the legacy title banner with inlined text
    color: #eee;
  }

  // banner image width exceeds defaults for section
  max-width: 80%;

  @media screen and (max-width: #{600px}) {
    .img-container {
      
      // 'crop' the image.
      overflow: hidden;
      height: 250px;

      img {
        margin-top: 30px;
        -webkit-transform: scale(2);

        // // image wasn't made with mobile in mind - scale up
        // min-width: 200%;
        // // center horizontally
        // margin-left: -50%;

        // max-width: 2000px;
        // margin-left: -90%;

        // display: none;

        // max-width: 100%;
        // margin-left: 0%;

      }
    }
  }
}

.tagline {
  margin-bottom: 80px;
}

.howto-images {
  @include grid-row;

  max-width: none;

  .subsection {
    .subtitle p {
      text-align: center;
      font-size: 13px;
      color: #b8b8b8;
    }
  }

  @media screen and (max-width: #{500px}) {
    .subsection img {
      width: 80%;
    }
  }
  @media screen and (min-width: #{500px}) {
    .subsection {
      @include grid-column(4);

      img {
        width: 100%;
      }
    }
  }
}