@import "bbl-basic.css.scss";
// @import "../foundation-scss-standalone/scss/foundation";

body {
  background-color: black; 
  color: #ddd;

  h1 { display: none; }
  h2, h3 {  color: white; font-size: 20px; }
}

section.title {

  // banner image width exceeds defaults for section
  max-width: 100%;

  @media screen and (max-width: #{600px}) {
    img {
      // image wasn't made with mobile in mind - scale up
      min-width: 200%;
      // center horizontally
      margin-left: -50%;
    }
  }
}

.tagline {
  margin-bottom: 80px;
}

.howto-images {
  @include grid-row;

  max-width: none;

  .subsection {
    .subtitle p {
      text-align: center;
      font-size: 13px;
      color: #b0b0b0;
    }
  }

  @media screen and (min-width: #{500px}) {
    .subsection {
      @include grid-column(4);

      img {
        width: 100%;
      }
    }
  }
}