// producteevly.scss

body {

  // ## typography

  // font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
  // font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Tahoma', 'sans-serif';

  // # the font from webbuddyapp.com
  // font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  // font-size: medium;

  // # the font from squarespace.
  // font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Tahoma', 'sans-serif';

  // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  // font-size: 15px;
  // font-style: normal;
  // font-variant: normal;
  // font-weight: 250;

  font-family: 'Open Sans', sans-serif;
  // h1, h2, h3 {
  //  font-weight: 400;
  // }
  p, div {
    font-weight: 300;
  }

  h1, h2, h3 {
    font-family: Tahoma, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
  }

  h2 {
    font-size: 130%;
  }
  h3 {
    font-size: 110%;
  }


  // ## colours

  // bright
  background-color: #f8f8f8;
  color: #333;
  h1, h2, h3 {  color: #000; }

  // dark
  // background-color: #42413C;
  // color: #eee;
  // h1, h2, h3 {   color: #aaa; }



}