@import "bbl-basic.css.scss";
@import "prototypo.css.scss";


section {
  .subtitle {
    text-align: center;
  }
}

section.title {
  .subtitle {
    font-size: 200%;
  }
}

section.summary {
  p {
    text-align: justify;
  }
}

section.graphical-intro {
  // @include grid-row;  // had to disable this to get the margins to work.
  @include clearfix;

  > section {
    @include grid-column(4);

    margin: 0;

    position: relative;
  }
}

section.marketing-video {
  text-align: center;
  font-size: 0;

  object {
    display: inline-block;

    width:420px; height:315px;
  }
}

section.major-feature {
  .title {
    font-family: "Calibri", Garamond, sans-serif;
  }
}

