// #  disabled because this overrides styles defined in bbl-basic.
// @import "../foundation-scss-standalone/scss/foundation/components/global";
// @import "../foundation-scss-standalone/scss/foundation/components/grid";

// # alt:
@import "bbl-basic.css.scss";
// # this results in the lib scss changes not being hotloaded.


h1, h2 {
	text-align: center;
}

section {
	// @include grid-row();
}

.actions {
	text-align: center;
}

section.title {
	display: block;

	@include grid-row();

	max-width: 500px;  // ?? can this kind of constraining be done relative to inner elements?

	.title {
		display: inline;

		width: 66%;
		float: left;

		// hack valign with margin
		margin-top: 5%;
	}
	.subtitle {
		display: inline;

		width: 66%;
		float: left;

		text-align: center;
	}

	img {
		width: 33%;
	}

	@media screen and (max-width: #{500px}) {
		.title, .subtitle, img {
			@include grid-row;
		}

		img {
			width: 150px;
		}
	}

}

section.feature-major, section.benefit {
	img {
		width: 60px;
	}

	// ## WIP getting the blurbs to show.
	// .subtitle {
	// 	display: none;
	// }
	// .blurb {
	// 	@include grid-row;
	// 	@include grid-column(12);
	// }
}
