// #  disabled because this overrides styles defined in bbl-basic.
// @import "../foundation-scss-standalone/scss/foundation/components/global";
// @import "../foundation-scss-standalone/scss/foundation/components/grid";

// # alt:
@import "bbl-basic.css.scss";
// # this results in the lib scss changes not being hotloaded.


section {
	// @include grid-row();
}

section.title {
	display: block;

	@include grid-row();

	.title {
		display: inline;

		width: 66%;
		float: left;

		// hack valign with margin
		margin-top: 5%;
	}
	.subtitle {
		display: inline;

		width: 66%;
		float: left;

		text-align: center;
	}

	img {
		width: 33%;
	}
}

section.feature-major, section.benefit {

	img {
		@include grid-column(2, $float:left);

		vertical-align: middle;
	}

	.subtitle {
		@include grid-column(9, $float:right);
	}
	
}
