%h6 Authentication

%p.preview authentication status: {{$root.authentication.loggedIn}}

.login-form( ng-if="! $root.authentication.loggedIn")
	%p Temporary: we'll improve this so you can log in using OAuth, such as your Google account.
	%p For now, please enter your evernote username.
	%input( ng-model="loginForm.username" )
	%p.preview Password:
	%button( type="submit" ng-click="doLogin()" ) Login

	%p {{authenticationResponse}}