:css
  .choices {
    display: block;
    -# margin: 0 10px;
    width: auto;
    height: auto;
  }


%div
  %p Show preview features
  %input( type="checkbox" ng-model="showPreview" ng-change="onShowPreviewChange()")

.preview( class="{{userPrefs.get('previewClass')}}" )

  .links
    %a( href="popup.html" ) Popup
    %a( href="centre.html" ) Centre

  %ul 
    %li( ng-repeat="(entryName, entry) in options" )
      %div
        %h4 {{entryName}}
        %ul
          -# show the actions
          %div( ng-if="entry.actions")
            %h5( style="display:inline-block;") Actions: 
            %li.control( ng-repeat="action in entry.actions")
              %p(ng-click="action.func()") {{action.name}}

          -# show the data
          %li.choices.control( ng-repeat="choice in entry.data" 
            ng-class="entry.selection === choice ? 'selected' : ''"
            ng-click="chooseKeyVal(entryName, choice)"
            )
            %p {{choice}}
            
