:erb
  <!doctype html5>
  <html class="no-js" lang="en">

    <head>
      <meta charset="utf-8" />

      <!-- Set the viewport width to device width for mobile -->
      <meta name="viewport" content="width=device-width" />

      <title><%= page_title %></title>
      
      <!-- Included CSS Files (Uncompressed) -->
      <!--
      <link rel="stylesheet" href="stylesheets/foundation.css">
      -->
      
      <!-- Included CSS Files (Compressed) -->
      <link rel="stylesheet" href="foundation/stylesheets/foundation.min.css">
      <link rel="stylesheet" href="foundation/stylesheets/app.css">

      <link rel="stylesheet" href="styles/style.css">
      <link rel="stylesheet" href="styles/mackerel.css">
      
      <script src="js/vendor/underscore.js"></script>
      <script src="js/vendor/jquery.min.js"></script>
      <script src="js/vendor/q.min.js"></script>

      <script src="js/vendor/angular.min.js"></script>
      <script src="js/vendor/angular-resource.min.js"></script>
      <script src="js/vendor/restangular.min.js"></script>
      <!--script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script-->
      <script src="js/vendor/jquery-ui.min.js"></script>
      <script src="js/vendor/angular-ui.min.js"></script>

      <script src="foundation/javascripts/modernizr.foundation.js"></script>

    </head>


    <%= yield %>


    <!-- Included JS Files (Uncompressed) -->
    <!--
    
    <script src="foundation/javascripts/jquery.foundation.mediaQueryToggle.js"></script>
    
    <script src="foundation/javascripts/jquery.foundation.forms.js"></script>
    
    <script src="foundation/javascripts/jquery.foundation.reveal.js"></script>
    
    <script src="foundation/javascripts/jquery.foundation.orbit.js"></script>
    
    <script src="foundation/javascripts/jquery.foundation.navigation.js"></script>
    
    <script src="foundation/javascripts/jquery.foundation.buttons.js"></script>
    
    <script src="foundation/javascripts/jquery.foundation.tabs.js"></script>
    
    <script src="foundation/javascripts/jquery.foundation.tooltips.js"></script>
    
    <script src="foundation/javascripts/jquery.foundation.accordion.js"></script>
    
    <script src="foundation/javascripts/jquery.placeholder.js"></script>
    
    <script src="foundation/javascripts/jquery.foundation.alerts.js"></script>
    
    <script src="foundation/javascripts/jquery.foundation.topbar.js"></script>
    
    <script src="foundation/javascripts/jquery.foundation.joyride.js"></script>
    
    <script src="foundation/javascripts/jquery.foundation.clearing.js"></script>
    
    <script src="foundation/javascripts/jquery.foundation.magellan.js"></script>
    
    -->
    
    <!-- Included JS Files (Compressed) -->
    <!-- script src="javascripts/jquery.js"></script -->
    <script src="foundation/javascripts/foundation.min.js"></script>
    
    <!-- Initialize JS Plugins -->
    <script src="foundation/javascripts/app.js"></script>

    <!-- google analytics for extension -->
    <script src="js/googleAnalytics.js"></script>
  </html>
