---
title: WebBuddy
subtitle: Minimalistic web client for OS X

stylesheet: webbuddy.css
google_analytics_id: UA-32373633-2
uservoice_category: 58642
sections:
- 
  role: title
  title: WebBuddy
  subtitle: Minimalistic&nbsp;web&nbsp;client for&nbsp;OS&nbsp;X
  subimg: webbuddy/webbuddy-icon.png
- 
  role: tagline
  title: Weave in and out of the web without losing&nbsp;focus.
  img: webbuddy/webbuddy-screenshot.jpg
-
  role: actions
  sections:
  - role: download
    title: Download on the Mac App Store.
    href: http://appstore.com/mac/webbuddy
    img: webbuddy/Download_on_the_Mac_App_Store_Badge_US-UK_165x40_0801.svg
-
  role: feature-major
  title: Streamlined access to URLs.
  subimg: webbuddy/streamlined.png
  subtitle: Preview links from OS X Mail, Twitter or Evernote in a HUD panel - keep your focus on the current working context.
  blurb:
    - "Ever had a moment staring at the tabs in your browser window, wondering: 'what were all of these pages about?'"
    - Every time you click a link from a Mac app such as Mail.app, Twitter.app or Evernote to view it, your workflow is disrupted as you get thrown into your browser. And these days, there are probably many pages already open in your browser, making it confusing and distracting to focus on your task.
    - WebBuddy is like Quick Look for the web - it lets you view the link in your current working context, in a minimal HUD panel.
-
  role: benefit
  title: Web productivity booster.
  subimg: webbuddy/productivity.png
  subtitle: Reduce clutter in your main browser by choosing what to send over to which browser at the right moment.
  blurb:
    - Use WebBuddy as a preview tool, and perform quick one-off web activity away from your main browser. When you decide you need to do some serious work with webpage from a workflow that started with an e-mail, just send the current page from WebBuddy to your browser of choice. Try it for a few days, and enjoy the radical reduction of clutter in Safari or Chrome.

- 
  role: feature-major
  title: Full-screen savvy.
  subimg: webbuddy/full-screen.png
  subtitle: Peek into the web while working in full-screen mode with your favorite full-screen app.
  blurb:
    - Full screen mode is great for focused workflows around a task, goal or interest. Until, that is, you need to quickly reference something on the web.
    - Perform quick web tasks without leaving full screen mode. It's perfect for looking up references, or a related search.
-
  role: feature-major
  title: Success stories.
  subimg:
  subtitle:

  sections:
  - role: case
    title: Awesome for working with [Inbox Zero].
  - role: case
    title: Like a browser built into the system, for light web access situations.
  - role: case
    title: It's like the preview feature on steroids.
  - role: case
    title: Great for not losing track from your loaded browsers.



  role: actions

  sections:
  - role: download
    title: Download on the Mac App Store.
    href: http://appstore.com/mac/webbuddy
    img: webbuddy/Download_on_the_Mac_App_Store_Badge_US-UK_165x40_0801.svg

  - role: alpha
    title: <a href="http://alpha.webbuddyapp.com">WebBuddy 2 Alpha</a> is out!

# TODO pro features
---

= partial "content-basic"

-# TODO repeat actions here.

= partial "money-back" # with options
  
