---
title: WebBuddy
subtitle: Minimalistic web client for OS X

stylesheet: webbuddy.css
google_analytics_id: UA-32373633-2
uservoice_category: 58642
sections:
- 
  role: title
  title: WebBuddy
  subtitle: Minimalistic&nbsp;web&nbsp;client for&nbsp;OS&nbsp;X
  subimg: webbuddy/webbuddy-icon.png
- 
  role: tagline
  title: Weave in and out of the web without losing&nbsp;focus.
  img: webbuddy/webbuddy-screenshot.jpg

---

= partial "content-basic"

:markdown


  [![Download on the Mac App Store.](webbuddy/Download_on_the_Mac_App_Store_Badge_US-UK_165x40_0801.svg)](buy)
  {:.actions}

  <section markdown="1">

  ### Web productivity booster.

  Dealing with your web browsing activity in context reduces clutter in your main browser. Enjoy far fewer tabs in your browsers, and far less browser driving().

  </section>

  <section markdown="1">

  ### Streamlined access to URLs.

  Preview links from OS X Mail, Twitter or Evernote in a HUD panel - keep your focus on the current working context. 

  Drastically reduce time switching between app and browser by dealing with inbound information quickly and efficiently.

  </section>

  <section markdown="1">

  ### Designed to reduce clutter.

  Ever had an occasion to wake your Mac to get something done, but got lost in all the browser tabs? You'll be surprised by how much WebBuddy will reduce your open tabs. 

  There's a lot of web information accessed from apps via hyperlinks. WebBuddy is designed to specialise in handling these so your main browser can deal with less.

  </section>

  <section markdown="1">

  ### Your choice of browser.

  By viewing hyperlinks with WebBuddy, then selectively committing to 'work' with them with your browser or another URL handler, such as Evernote, you can enhance your workflow and deal with less web clutter.

  In addition to opening content in a context-friendly window, you can open hyperlinks in a different browser of your choosing by clicking with the modifer keys, allowing WebBuddy to become a ad-hoc browser selector.

  </section>

  <section markdown="1">

  ### Full-screen savvy.

  Great apps like Mail, iPhoto or iTunes really come alive in full-screen mode. Seamlessly weave in and out of the web, without getting bounced around different workspaces.

  You'll never get bounced around spaces after clicking a link.


  [Watch video.]()
  {:.draft}

  </section>

  <section markdown="1">

  ## Less tabs in 2 weeks, or your money back.

  Try WebBuddy for 14 days. If you don't think you deal with less clutter in your workhorse browser, [we'll fully refund your purchase price](). No risk.

  </section>

  <section markdown="1">

  <!--
   - role: another-section.
     - "Ever had a moment staring at the tabs in your browser window, wondering: 'what were all of these pages about?'"
     - Every time you click a link from a Mac app such as Mail.app, Twitter.app or Evernote to view it, your workflow is disrupted as you get thrown into your browser. And these days, there are probably many pages already open in your browser, making it confusing and distracting to focus on your task.
     - WebBuddy is like Quick Look for the web - it lets you view the link in your current working context, in a minimal HUD panel.

   -
     blurb:
     - Use WebBuddy as a preview tool, and perform quick one-off web activity away from your main browser. When you decide you need to do some serious work with webpage from a workflow that started with an e-mail, just send the current page from WebBuddy to your browser of choice. Try it for a few days, and enjoy the radical reduction of clutter in Safari or Chrome.


   -
     role: feature-major
     title: Success stories.
     subimg:
     subtitle:#
     sections:
     - role: case
       title: Awesome for working with [Inbox Zero].
     - role: case
       title: Like a browser built into the system, for light web access situations.
     - role: case
       title: It's like the preview feature on steroids.
     - role: case
       title: Great for not losing track from your loaded browsers.
    -->

  </section>

  <section markdown="1">


  ## Make web activity more efficient and fluid with WebBuddy.  

  <!-- ## Don't wait. Get it now!-->

  [![Download on the Mac App Store.](webbuddy/Download_on_the_Mac_App_Store_Badge_US-UK_165x40_0801.svg)](buy)
  {:.actions}

  </section>

  ---

  Want more web productivity? Check out [Researches](/researches).

