---
title: Work with Us!
subtitle: Big Bear Labs Consulting Services

stylesheet: bbl-basic.css
google_analytics_id: 
uservoice_category: 

notification_text: We're preparing content for this page.

---

<%= image_tag 'bbl-logo.png', :class => 'logo' %>


# Wanna build something insanely great?

## We consult on iOS, Mac and web application development.


<section markdown="1">

### WebKit integration / in-app browser

WebKit lets your app leverage a decade of hard work from the open source community and major browser vendors. it allows your app to tap into vast amounts of content already available on the web, and minimises platform risk for new content for your software product.

It's also far from trivial to work with -- WebKit integration is its own art with a sizable learning curve and subtle gotchas. It's only fair -- it's the result of a decade's worth of real-world engineering.

Focus on the features that make your app unique. Leave us with nitty-gritty of making your app's in-app browser or other WebKit-based features.


<!-- [open source projects] -->

</section>

<section markdown="1">

### RubyMotion workshops / coaching

We've been working on iOS since the beta came out in 2008. We've been working with RubyMotion since its first version, and with MacRuby before then. We've made a lot of the mistakes you'll make as you set out to build your RubyMotion app.

Over a couple of days, we help you build the basics of your RubyMotion app that runs on your iOS device. Need to ship to iOS fast? If you're a web shop, we'll get you up and running quickly on your delivery roadmap using our native + web prototyping strategy. 


<!-- pricing / organisation info. -->

</section>

<section markdown="1">

### Rapid mobile app prototyping 

We are experts at combining web and native technologies for fast iterations on mobile apps.

Especially during the prototyping stage, fast iteration is key, since there are lots of user experience nuances and problems which can be cheap to address if you find them prior to committing to a design.

Let us help you leverage your web programming expertise, to rapidly  build out native apps.

</section>

<section markdown="1">

### In-app stores

Can you just snap your fingers, and get a beautiful and engaging in-app store? Well, we've found things are not quite that easy. But we can help you in your long journey to a working, profitable in-app store.

We'll start with a base design and an up-to-date review of the tools to pick. Within a few days, you'll be able to prototype a store, collect payments using a payments API, and ship a UI for transactions right in your app. 

</section>

<section markdown="1">

### Client-server integration

We'll share our experience in working with complex stacks of technology, and work with you for API design, data transformations, modeling and reuse maximisation. 

Got servers based on Java, Ruby, Python, Go, or Node.js, and need to get a mobile app running *fast*? We're good at hooking them up with a variety of clients.


</section>


<%= partial "partials/contact-us-woofoo", text: "" %>

