---
title: WebBuddy Intro
subtitle: Minimalistic web client for OS X

stylesheet: webbuddy.css
google_analytics_id: UA-32373633-2
uservoice_category: 58642

---

:markdown

  # WebBuddy - some tips.
  ## Awesome subtitle to go here.
  #{ image_tag("stub-img.png", width:500, height:150) }


  ### Work with links in context.

  Click on a link in an app such as Mail, Twitter or Evernote to open it without losing context. 
  
  [show-click-in-app]

  #{ image_tag("stub-img.png", width:300, height:150) }


  ### Menu bar icon.

  WebBuddy is a menu bar app, so there is no dock icon.

  You can configure which browsers you'd like to work with WebBuddy by setting them in WebBuddy's preferences.

  [show-preferences-invocation-and-options]

  You can send the page shown in WebBuddy to these browsers using the toolbar buttons. You can also click on a hyperlink in the app you're working with while holding down the [opt/alt] and [opt/alt] + [shift] modifier keys, to directly dispatch the link to the browser of your choice.

  [show-modkey-click]


  ### Navigation.

  You can page back and forward in WebBuddy by swiping left or right.

  [show-nav]


  ## Enjoy WebBuddy!


  ---

  If you use the web a *lot*, check out Research.app.
