---
title: WebBuddy Intro
subtitle: Minimalistic web client for OS X

stylesheet: webbuddy.css
google_analytics_id: UA-32373633-2
uservoice_category: 58642

---

:markdown

  # WebBuddy - some tips.
  
  <!-- ## Awesome subtitle to go here. -->
  #{ image_tag("stub-img.png", width:500, height:150) }
  {:.draft}

  ### Work with links in context.

  Click on a link in an app such as Mail, Twitter or Evernote to open it without losing context. 
  
  [show-click-in-app]
  #{ image_tag("stub-img.png", width:300, height:150) }
  {:.draft}


  ### Menu bar app.

  WebBuddy is a menu bar app, so there is no dock icon.

  You can configure browsers for WebBuddy by setting them in WebBuddy's preferences.

  [img-pointing-to-menu-bar-icon]
  [img-preferences-screenshot]
  {:.draft}


  ### Working with other browsers.

  From WebBuddy, send a page to another browser using the buttons in the toolbar. 

  You can also click on a hyperlink in the app you're working with while holding down the ⌥(Option / Alt) or ⌥(Option / Alt) and ⇧(Shift) modifier keys, to open the link directly in a browser of your choice.

  [show-modkey-click]
  {:.draft}


  ### Navigation.

  You can page back and forward in WebBuddy by swiping left or right.

  [show-nav]
  {:.draft}


  ## Enjoy WebBuddy!


  ---

  If you use the web a *lot*, check out [Researches](/researches).
