---
title: About Tag Yeti
subtitle: some subtitle

google_analytics_id: UA-32373633-4

sections:
- 
  role: title
  title: Tag Yeti
  subtitle: Placeholder subtitle.
  img: tagyeti/main_image-02.png  # TODO no text in the image
-
  role: template
  title:  
  subtitle: |
    Tag Yeti is made in Switzerland by Big Bear Labs, a productivity software company.
    @bigbearlabs
    www.bigbearlabs.com
    facebook.com/bigbearlabs

---

= partial "content-basic"


:css
  section.title h1 {
    display: none;
  }




