
<div class="intro content-container">
	<img data-ng-src="{{content.imgUrl}}" alt="{{content.imgUrl}}" class="intro-image">
	<p>{{content.text}}</p>
</div>
<div class="intro control-container">
	<div class="horizontal-spacer"></div>
	<button class="control"
		data-bbl-assetify 
		data-ng-click="previous()" data-ng-if="showPrevious">
		Previous</button>
	<button class="control"
		data-bbl-assetify 
		data-ng-click="next()" data-ng-if="showNext">
		Next</button>
	<button class="control"
		data-bbl-assetify 
		data-ng-click="finishIntro()" data-ng-if="! showNext">
		OK</button>
</div>