:css
  .choices {
    display: inline-block;
    margin: 0 10px;
  }


.links
  %a( href="popup.html" ) Popup
  %a( href="centre.html" ) Centre


%ul 
  %li( ng-repeat="(entryName, entry) in options" )
    %div
      %h5 {{entryName}}
      %ul
        %li.choices.control( ng-repeat="choice in entry.data" 
          ng-class="entry.selection === choice ? 'selected' : ''"
          ng-click="chooseKeyVal(entryName, choice)"
          )
          %p {{choice}}

        -# CASE non-collection values