:css
  .choices {
    display: block;
    -# margin: 0 10px;
    width: auto;
    height: auto;
  }


.links
  %a( href="popup.html" ) Popup
  %a( href="centre.html" ) Centre


%ul 
  %li( ng-repeat="(entryName, entry) in options" )
    %div
      %h5 {{entryName}}
      %ul
        -# shoe the actions
        %p( ng-if="entry.actions")
          %li.control( ng-repeat="action in entry.actions")
            %p(ng-click="action.func()") {{action.name}}

        -# show the data
        %li.choices.control( ng-repeat="choice in entry.data" 
          ng-class="entry.selection === choice ? 'selected' : ''"
          ng-click="chooseKeyVal(entryName, choice)"
          )
          %p {{choice}}
          
