:css
  .choices {
    display: block;
    -# margin: 0 10px;
    width: auto;
    height: auto;
  }


.links
  %a( href="popup.html" ) Popup
  %a( href="centre.html" ) Centre


%ul 
  %li( ng-repeat="(entryName, entry) in options" )
    %div
      %h5 {{entryName}}
      %ul
        %li.choices.control( ng-repeat="e1 in entry.data" 
          ng-class="entry.selection === e1 ? 'selected' : ''"
          ng-click="chooseKeyVal(entryName, e1)"
          )
          %p {{e1}}  
          %p( ng-if="typeof(e1) === 'object'") {{e2}}

        -# CASE non-collection values