<!-- TODO rename to 'tagger' -->

<!-- this only needed when page context needs explicit creation from user. -->
<div class="row"
  data-ng-show="showPageDetails()">

  <h1>Page</h1>

  <input type="text" placeholder=""
    data-ng-model="page.url" data-ng-change="fetchPage()">
</div>


<div class="row stickers-container">

  <h1>Stickers</h1>

  <ul id="sticker-list" class="sticker-group" 
    data-ui-sortable="sortableOptions" data-ng-model="stickers">

    <!-- my stickers -->
    <li class="sticker on-page-{{page.hasSticker(sticker)}}"
      data-ng-repeat="sticker in stickers"
      data-ng-mouseover="highlight(sticker)"
      data-ng-mouseleave="highlight(null)"
      >

      <a class="sticker-image"
        data-ng-click="toggleSticker(sticker)">
        <img data-ng-src="{{sticker.imgOn()}}" alt="Page stickered with {{sticker.name}}."
          data-ng-if="page.hasSticker(sticker)" data-ng-animate="'transition-image'">
        <img data-ng-src="{{sticker.imgOff()}}" alt="Page not stickered with {{sticker.name}}."
          data-ng-if="! page.hasSticker(sticker)" data-ng-animate="'transition-image'">
      </a>

      <a class="sticker-label"
        data-ng-click="toggleSticker(sticker)">
        {{sticker.name}}
      </a>

      <div class="text-label sticker-edit-control"
        data-ng-click="editSticker(sticker)">
      </div>

    </li>

    <!-- new sticker -->
    <li class="sticker">
      <a class="sticker-image sticker-image-new absolute-positioning-container"
        data-ng-click="newSticker.creatingNewSticker = true">

        <img src="assets/new-sticker.png" alt="New sticker...">
      </a>
      <div class="new-sticker-form"
        data-ng-show="newSticker.creatingNewSticker">
        
        <input class="text-label sticker-name-field" placeholder="new sticker"
          data-ng-model="newSticker.name">
        <button class="control-ok"
          data-ng-click="createNewSticker()">OK</button>
        <button class="control-cancel"
          data-ng-click="newSticker.creatingNewSticker = false">Cancel</button>          

        <!-- TODO validation / reactive states -->
      </div>
    </li>
  </ul>

  <div class="edit-sticker overlay"
    data-ng-show="editedSticker">

    <div class="overlay-content">
      <img class="edit-sticker-img"
        data-ng-src="{{editedSticker.imgOn()}}" alt="{{editedSticker.name}}">
      <input class="edit-sticker-name"
        data-ng-model="editedSticker.name"/>
      <ul class="edit-sticker-colours">
        <li class="colour-item colour-selected-{{editedSticker.isColour(colour)}}"
          style="background: {{colour.name}};"
          data-ng-repeat="colour in colours"
          data-ng-click="editedSticker.setColour(colour)">
        </li>
      </ul>
      <div class="control-container">
        <div class="control-cancel"
          data-ng-click="cancelEditingSticker()">Cancel</div>
        <div class="control-ok"
          data-ng-click="finishEditingSticker()">OK</div>
      </div>
    </div>
  </div>

</div>

