<!-- TODO rename to 'tagger' -->

<!-- this only needed when page context needs explicit creation from user. -->
<div class="row"
  data-ng-show="showPageDetails()">

  <h1>Page</h1>

  <input type="text" placeholder=""
    data-ng-model="page.url" data-ng-change="fetchPage()">
</div>


<div class="row stickers-container">

  <h1>Stickers</h1>

  <ul id="sticker-list" class="sticker-group" 
    data-ui-sortable="sortableOptions" data-ng-model="stickers">

    <!-- my stickers -->
    <li class="sticker on-page-{{page.hasSticker(sticker)}}"
      data-ng-repeat="sticker in stickers"
      data-ng-mouseover="highlight(sticker)"
      data-ng-mouseleave="highlight(null)"
      >

      <a class="sticker-image"
        data-ng-click="toggleSticker(sticker)">
        <img src="assets/sticker-on.png" alt="The page is stickered with {{sticker.name}}."
          data-ng-if="page.hasSticker(sticker)" data-ng-animate="'transition-image'">
        <img src="assets/sticker-off.png" alt="The page is not stickered with {{sticker.name}}."
          data-ng-if="! page.hasSticker(sticker)" data-ng-animate="'transition-image'">
      </a>

      <a class="sticker-label"
        data-ng-click="toggleSticker(sticker)">
        {{sticker.name}}
      </a>

      <a class="text-label sticker-edit-control"
        data-ng-click="editSticker(sticker)">
        ...
      </a>

    </li>

    <!-- new sticker -->
    <li class="sticker">
      <a class="sticker-image sticker-image-new absolute-positioning-container"
        data-ng-click="newSticker.creatingNewSticker = true">

        <img src="assets/sticker-off.png" alt="New sticker...">
      </a>
      <div class="new-sticker-form"
        data-ng-show="newSticker.creatingNewSticker">
        
        <input class="text-label sticker-name-field" placeholder="new sticker"
          data-ng-model="newSticker.name">
        <button data-ng-click="createNewSticker()">OK</button>
        <button data-ng-click="newSticker.creatingNewSticker = false">Cancel</button>          

        <!-- TODO validation / reactive states -->
      </div>
    </li>
  </ul>

  <div class="edit-sticker"
    data-ng-show="editedSticker">

    <img data-ng-src="{{editedSticker.imgOn}}" alt="{{editedSticker.name}}" class="edit-sticker-img">
    <input data-ng-model="editedSticker.name"/>
    <ul class="edit-sticker-colours">
      <li class="colour colour-selected-{{editedSticker.isColour(colour)}}"
        data-ng-repeat="colour in colours"
        data-ng-click="editedSticker.setColour(colour)">
          {{colour.name}}
      </li>
    </ul>

    <button data-ng-click="finishEditingSticker()">OK</button>
    <button data-ng-click="cancelEditingSticker()">Cancel</button>
  </div>

</div>

