---
title: OneHour
subtitle: 

stylesheet: onehour.css
google_analytics_id: 
uservoice_category: 67220

menu: 
# product-scope
- label: View on App Store
  href: http://appstore.com/onehour
# - label: Features
# - label: Tips

- label: Support

# org-scope
- label: Blog
  href: /blog


sections:
- 
  role: title
  title: OneHour
  img: 
- 
  role: tagline
  title: The simplest iOS timer ever.
  img: onehour/onehour-title-image.jpg
-
  role: howto-images
  sections:
  - img: onehour/onehour-howto-01.png
    subtitle: Use OneHour to focus on something for up to one hour.
  - img: onehour/onehour-howto-02.png
    subtitle: Set the timer by dragging.
  - img: onehour/onehour-howto-03.png
    subtitle: It will pulse and notify you when time is up.
-
  role: main-text
  subtitle: |
    Set a time to finish one task for up to an hour, then focus on getting it done.
    Manage your life for the future, because the best is yet to come!
    OneHour is perfect for reading, studying, cooking, exercising, meditating, chores, or task-oriented work.
    It's a simple, sensitive, useful timer.
    Happy focusing!
-
  role: actions
  sections:
  - role: download
    title: Available on the App Store.
    href: http://appstore.com/onehour
    img: Available_on_the_App_Store_Badge_US-UK_135x40.svg

---

= partial "content-basic"
