%html
  %head
    <meta HTTP-EQUIV="REFRESH" content="0; url=http://bigbearlabs.com/webbuddy">

-# TODO ensure analytics shows this separately
-# content: news
-# content: feedback call for action

-# EVENTUALLY a-b testing
