@import "../foundation-scss-standalone/scss/foundation";

body {
	background-color: white;
}

header {
	display: none;
}

section {
	// @include grid-row();
}

section.title {
	display: block;

	@include grid-row();

	text-align: center;

	.title {
		display: none;

		width: 66%;
		float: left;

		// hack valign with margin
		margin-top: 5%;
	}
	.subtitle {
		display: none;

		width: 66%;
		float: left;
	}
	p {
		display: none;
	}

	img {
<<<<<<< HEAD
		width: 100%;
=======
		width: 70%;
>>>>>>> 62b9f7d6d943922e583c6de095e17ddafc44e418
	}
}

section.product {
	@include grid-column(4);

	@media screen and (max-width: #{800px}) {
		@include grid-row;
		@include grid-column(12);
	}

	margin: 50px auto;
	
	.title {
		margin-top: 5%;
		font-size: 200%;
	}
	.subtitle {
	}

	img {
		display: block;
		width: 60%;
		margin: 0 auto;
	}
}