---
title: Big Bear Labs

stylesheet: bigbearlabs.css

sections:
-
  role: title
  title: Big Bear Labs
  subtitle: A software company in Zurich.
  img: bbl-logo.png
-
  role: product
  title: WebBuddy
  href: webbuddy/
  subtitle: Allow no clutter.
  img: webbuddy/webbuddy-300x300.png
-
  role: product
  title: OneHour
  href: onehour/
  subtitle: Set a timer for your next hour, then&nbsp;focus.
  img: onehour/onehour-300x300.png
-
  role: service
  title: Consulting
  href: consulting/
  subtitle: iOS, Mac, web software development.
-
  role: project
  title: SafariHere
  href: /safarihere
  subtitle: 
-
  role: project
  title: TagYeti
  href: /tagyeti
  subtitle: 
-
  role: blog
  title: Blog
  href: http://blog.bigbearlabs.com
  subtitle: Lastest banter.

---

<meta name="apple-mobile-web-app-title" content="BigBearLabs">

= partial "content-basic"

