---
title: Big Bear Labs

sections:
-
  role: product
  href: tagyeti
  title: Tag Yeti
  subtitle: Organise efficiently.
  img: images/tagyeti.jpg
-
  role: product
  title: WebBuddy
  href: webbuddy
  subtitle: Organise efficiently
  img: images/tagyeti.jpg
-
  role: product
  title: OneHour
  href: onehour
  subtitle: Organise efficiently
  img: images/tagyeti.jpg
-
  role: projects
-
  role: blog

---

= partial "content-basic"