---
title: Welcome

sections:
-
  role: product
  href: tagyeti
  title: Tag Yeti
  subtitle: Your data, filed per train of thought.
  img: images/tagyeti.jpg
-
  role: product
  title: WebBuddy
  href: webbuddy
  subtitle: Allow no clutter.
  img: images/webbuddy.jpg
-
  role: product
  title: OneHour
  href: onehour
  subtitle: Set a timer for your next hour, then focus.
  img: images/tagyeti.jpg
-
  role: projects
  title: Projects
  subtitle: Coming soon.
-
  role: blog
  href: http://blog.bigbearlabs.com
  title: Blog
  subtitle: Under migration.
---

= partial "content-basic"