/** popup */

body {
  background-color: #FFF; /* Done <- TODO */
}

h1, h2, h3, h4 {
  color: #1f3b69; /* TODO */
  font-family:Bell Gothic std, Tahoma, sans-serif; /* Done <- TODO font */
}
 h1 {font-size: 32px}
 h2 {font-size: 28px}
 h3 {font-size: 24px}  
 h4 {font-size: 18px}

a {
  color: #000; /* Done <- TODO */
    font:10px arial, Helvetica, sans-serif; /* Done <- TODO font */
}


.msg-container {
  position: fixed;
  bottom: 0;
  height: 70px;
  margin: 10px;
}


.sticker {
  display: inline-block;
  vertical-align: middle;

  margin: 10px;

  width: 70px;
  height: 70px;

  text-align: center;
  
  /*border-style: solid;*/
}
.sticker:hover {
  background-color: rgba(128, 128, 128, 0.45);
  border-radius: 5px 5px 5px 5px;
  transition: all 0.2s;
}

.sticker-label {
  /*label on top of sticker*/
/*  position: absolute;
  top: 0;
  left: 0;
*/
  line-height: 1em;
}


.transition-image, .transition-image-enter {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -ms-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.transition-image-enter {
  opacity: 0;
  /*transition: all 2s ease-in-out;*/
}
.transition-image-enter.transition-image-enter-active {
  opacity: 1;
  /*transition: all 2s ease-in-out;*/
}

.transition-image-leave {
  opacity: 1;
}
.transition-image-leave.transition-image-leave-active {
  opacity: 0;
}

.on-page-false {
}

.on-page-true {
}



/* TODO 

refactor to less or sass.

*/