/** popup */

.sticker {
  display: inline-block;
  vertical-align: middle;

  margin: 10px;

  width: 70px;
  height: 70px;

  text-align: center
  
  /*border-style: solid;*/
}

.absolute-positioning-container {
  position: relative;
}
.sticker-label {
  /*vertical-align: bottom;*/
  position: absolute;
  bottom: 0;
}

.on-page-false {
  background-image: url("../assets/sticker-off.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.on-page-true {
  background-image: url("../assets/sticker-on.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.mouseover-true {
  /*background-color: blue;*/
}
