/**** styling-per-convention */
msg-container {
  /* TODO show at bottom of screen of bottom of page, whichever is smaller.*/

}

/**** expressing ui functionality */

/* pinched from quora.com */
.above_page_banner {
width: 100%;
background: #FFC;
border-bottom: 1px solid #CC9;
padding: 5px 10px;
margin: 0;
text-align: center;
position: fixed;
top: 0;
z-index: 101;
}


.scrollable_horizontal {
  overflow-x: scroll;
  overflow-y: visible;
}

.scrollable_content {
  width: 100%;
  display: table;
  white-space: nowrap;
}

.scrollable_content li {
  list-style: none;
}

 
/**** expressing styles */

.fit-parent {
  display: block;
  width: 100%;
  height: 100%;
}

.placeholder {
  background-color:#fff!important;
  border:dashed 1px gray!important;
}


/*tiling*/

.tile {
  float: left;
  margin: 5px;
  overflow: hidden;
  background-size: cover;
  width: 100px;
  height: 100px;
}

.tile > * {
  display: block;
  margin: auto;
}
